# local configuration
configuration.py

#subfolders
.idea/
src/data/sql_app.db
src/data/__pycache__/*
output/*
__pycache__/*

# Test files
src/test/new.csv
output/data_sample.csv
src/test/data_sample.txt
src/test/test.py