#logo {
    margin-top: 10px;
    max-width: 16%;
}

#navbar {
    margin-top: 10px;
    max-width: 85%;
}



table {
    table-layout: fixed;
    font-size: 13px;
}

td, th, tr{
    font-family: "Gill Sans", sans-serif;
    max-width: 0;
    overflow: hidden;
    overflow-wrap: break-word;
}

#table-1, #table-2, #table-3, #table-4{
    box-shadow: 10px 10px 10px 10px rgb(109, 160, 121);
}



#body-tag {
    background-color: rgb(219, 231, 231);
}
