#logo {
    margin-top: 10px;
    max-width: 16%;
}

#navbar {
    margin-top: 10px;
    max-width: 85%;
}

table caption {
    caption-side:top;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    padding-left: 20px;
    background-color: rgb(224, 200, 66);
}

caption.triggerTimeMsg{
    color: gray
}

table {
    table-layout: fixed;
    font-size: 14px;
}

td, th, tr{
    font-family: "Gill Sans", sans-serif, bold;
    max-width: 0;
    overflow: hidden;
    overflow-wrap: break-word;
    background-color: #afbe4e;
    color: white
}


.navbar, .navbar-dark{
    background-color: #afbe4e;
    box-shadow: 10px 10px 10px 10px rgb(160, 165, 103);
}


#table-1, #table-2, #table-3, #table-4{
    box-shadow: 10px 10px 10px 10px rgb(160, 165, 103);
}


#body_tag {
    background-color: rgb(237, 230, 190);
}

.success {
    background-color: rgb(82, 150, 82);
}

.failed {
    background-color: rgb(218, 125, 125);
}

.running {
    background-color: yellow;
}

.submitted {
    background-color: gray;
}